.myPulse {
    background-color: rgb(0,255,0, 1);
    border-radius: 50%;
    animation: myPulseAnimate 2s linear infinite;
    cursor: pointer !important;
}

    .myPulse i {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 30px;
        color: #fff;
        height: 100%;
        cursor: pointer !important;
    }

@keyframes myPulseAnimate {
    0% {
        box-shadow: 0 0 0 0 rgb(0,255,0, 0.22), 0 0 0 0 rgb(0,255,0, 0.7);
    }

    40% {
        box-shadow: 0 0 0 30px rgb(0, 255,0, 0), 0 0 0 0 rgb(0,255,0, 0.22);
    }

    80% {
        box-shadow: 0 0 0 30px rgb(0,255,0, 0), 0 0 0 15px rgb(0,255,0, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgb(0,255,0, 0), 0 0 0 15px rgb(0,255,0, 0);
    }
}
